{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
<header class="navbar">
  <form action="/upload" method="post" enctype="multipart/form-data" >
      <span class="btn btn-default btn-file">
        Browse <input type="file" name="image">
      </span>

    <input type="submit" value="Upload File" class="btn btn-primary">
  </form>

</header>

{% if upload_message %}
<script>
Swal.fire({
    title: '{{ upload_message }}',
    icon: '{{ "success" if upload_message != "Upload gagal" else "error" }}'
  }).then((result) => {
    if (result.isConfirmed) {
      window.location.href = "/admin_fuc";
    }
  })
</script>
{% endif %}

{% endblock %}